<h1>Clock</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Het is
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-colorpicker [(color)]=config.colorItIs (colorChanged)=onColorChanged()></app-colorpicker>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vijf/tien/kwart/voor/over/half
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-colorpicker [(color)]=config.colorWords (colorChanged)=onColorChanged()></app-colorpicker>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Uur van de dag
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-colorpicker [(color)]=config.colorHour (colorChanged)=onColorChanged()></app-colorpicker>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Opties
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-slide-toggle>Toon minuten</mat-slide-toggle>
    <mat-slide-toggle>Dim wanneer donker</mat-slide-toggle>
  </mat-expansion-panel>

</mat-accordion>

