<h2>clock works!</h2>


<h3>
    <!-- RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})"> -->
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <!-- </span> -->
  </h3>
<div>
    Red: {{ color.red }}
    <mat-slider min="0" max="100" step="1"
        (input)="color.red = $event.value || 0; colorChanged();" 
        [value]="color.red"></mat-slider>
</div>

<div>
    Green: {{ color.green }}
    <mat-slider min="0" max="100" step="1"
        (input)="color.green = $event.value || 0; colorChanged();" 
        [value]="color.green"></mat-slider>
</div>

<div>
    Blue: {{ color.blue }}
    <mat-slider min="0" max="100" step="1"
        (input)="color.blue = $event.value || 0; colorChanged();" 
        [value]="color.blue"></mat-slider>
</div>
