<h1>Clock</h1>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Het is
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-colorpicker [(color)]=itIsColor></app-colorpicker>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        vijf/tien/kwart/voor/over
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-colorpicker [(color)]=itIsColor></app-colorpicker>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        uur van de dag
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion>
