$border: solid #444 0.2em;
$cellsize: 2em;

span.pixel {
    display: block;
    width: $cellsize;
    height: $cellsize;
    border: $border;
    margin: 0px;
    background-color: #aaa;
}

.clock {
    border: $border;
    display: grid;
    grid-template-columns: repeat(11, auto);
}
